# Python
__pycache__/
*.py[cod]
*$py.class

# Entornos virtuales
venv/
env/
.env
.venv/
ENV/

# Base de datos
instance/
*.db
*.sqlite3

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos de IDE
.vscode/
.idea/
*.swp
*.swo

# Archivos de configuración local
*.log
.env.local
.env.*.local

# Archivos de Google Cloud
.gcloudignore 